/* por elemento. etiqueta */
p {
    color: blue;
    font-size: 50px;
}

/* clase -> usando .nombreClase*/
.first {
    color: red;
    font-size: 30px;
}

/* ID -> usando #nombreID*/
#second {
    color: purple;
    font-size: 30px;
}